 <#body>
    <div class="easyui-layout" fit="true">

        <!-- ====================================================================================================================== -->
        <!-- 上方布局 -->
        <!-- ====================================================================================================================== -->
        <div region="north" height="auto" align="center">
            <!-- 上方导航栏 (锁定不滚动) -->
            <div id="nav" style="padding-left:10px;padding-top:10px;width:97%;height:30px;background-color:white" align="left">
                <a href="${contextPath}/model/index.html">模型和部署</a> |
                <a href="${contextPath}/actForm/index.html">表单管理</a>
            </div>
            <!-- =========================================================表单========================================================= -->
            <div class="easyui-panel" style="width:100%;" align="left">
                <form id="form" class="easyui-form" method="post" fit="true">
                    <table style="padding:10px;">
                        <tr>
                            <td style="padding:5px;">
                                <input class="easyui-textbox" name="formKey" id="formKey" style="width:100%" data-options="label:'表单key:', validType:'length[0,20]'" />
                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-textbox" name="controlId" id="controlId" style="width:100%" data-options="label:'控件id:', validType:'length[0,20]'" />
                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-textbox" name="name" id="name" style="width:100%" data-options="label:'控件name:', validType:'length[0,20]'" />
                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-textbox" name="label" id="label" style="width:100%" data-options="label:'标签:', validType:'length[0,20]'" />
                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-textbox" name="type" id="type" style="width:100%" data-options="label:'控件类型:', validType:'length[0,10]'" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn"
                                   onclick="queryGrid()">查询</a>&nbsp;&nbsp;
                                <a href="javascript:void(0)" iconCls="icon-clear" class="easyui-linkbutton" onclick="clearForm()">清除</a>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <!-- ====================================================================================================================== -->
        <!-- 中央布局 -->
        <!-- ====================================================================================================================== -->
        <!-- 表格 -->
        <div region="center" style="width:100%;" height="auto">
            <!-- =========================================================表格========================================================= -->
            <table class="easyui-datagrid" title="控件列表" id="grid" fitColumns="true" noheader="true" order="asc"
                   pagination="true" pageSize="30" pageNumber="1" pagePosition="top" rownumbers="false" remoteSort="true"
                   loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false" sortName="formKey,orderNumber"
                   align="center" fit="true" striped="true" idField="id" data-options="onDblClickRow:openUpdate">
                <thead>
                    <tr>
                        <th width="7%" data-options="field:'formKey',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            表单key
                        </th>
                        <th width="7%" data-options="field:'controlId',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            控件id
                        </th>
                        <th width="7%" data-options="field:'name',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            控件name
                        </th>
                        <th width="7%" data-options="field:'label',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            标签
                        </th>
                        <th width="6%" data-options="field:'minLength',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            最小长度
                        </th>
                        <th width="6%" data-options="field:'maxLength',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            最大长度
                        </th>
                        <th width="7%" data-options="field:'type',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            控件类型
                        </th>
                        <th width="6%" data-options="field:'required', _provider:'ynProvider',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            是否必填
                        </th>
                        <th width="6%" data-options="field:'writable', _provider:'ynProvider',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            是否可写
                        </th>
                        <th width="6%" data-options="field:'readable',  _provider:'ynProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            是否可读
                        </th>
                        <th width="6%" data-options="field:'value',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            值或默认值
                        </th>
                        <th width="6%" data-options="field:'orderNumber',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            排序号
                        </th>
                        <th width="6%" data-options="field:'style',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            样式
                        </th>
                        <th width="8%" data-options="field:'meta',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            元数据
                        </th>
                        <th width="10%" data-options="field:'created',  _provider:'datetimeProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            创建时间
                        </th>
                    </tr>
                </thead>
            </table>

        </div>
    </div>
    <!-- 隐藏编辑框 -->
    <div id="dlg" class="easyui-dialog" resizable="false" constrain="true" shadow="true" draggable="false" title="控件信息" style="padding:20px" modal="true" border="thin" closed="true"
         data-options="
				iconCls: 'icon-save',
				height: 468,
				buttons: [{
					text:'确认',
					iconCls:'icon-ok',
					handler:saveOrUpdate
				}]
			">
    <form id="_form" class="easyui-form" method="post" fit="true">
        <input name="_id" id="_id" type="hidden">
        <table width="640px">
            <tr>
                <td style="padding:5px; width: 50%">
                    <input class="easyui-textbox" name="_formKey" id="_formKey" style="width:100%" data-options="label:'表单key:', validType:'length[0,20]'"
                           required="true" />
                </td>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_controlId" id="_controlId" style="width:100%" data-options="label:'控件id:', validType:'length[0,20]'"
                        required="true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_name" id="_name" style="width:100%" data-options="label:'控件name:', validType:'length[0,20]'" />
                </td>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_label" id="_label" style="width:100%" data-options="label:'标签:', validType:'length[0,20]'" 
                        required="true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" name="_minLength" id="_minLength" style="width:100%" data-options="label:'最小长度:'" />
                </td>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" name="_maxLength" id="_maxLength" style="width:100%" data-options="label:'最大长度:'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_type" id="_type" style="width:100%" data-options="label:'控件类型:', validType:'length[0,10]', required:true" />
                </td>
                <td style="padding:5px;">
                    <input name="_required" id="_required" style="width:100%" panelWidth="auto" panelHeight="auto" data-options="label:'是否必填:', editable:false, required:true" />
                    <#comboProvider _id="_required" _provider='ynProvider' _queryParams="{required:true}" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input name="_writable" id="_writable" style="width:100%" panelWidth="auto" panelHeight="auto" data-options="label:'是否可写:', editable:false, required:true" />
                    <#comboProvider _id="_writable" _provider='ynProvider' _queryParams="{required:true}" />
                </td>
                <td style="padding:5px;">
                    <input name="_readable" id="_readable" style="width:100%" panelWidth="auto" panelHeight="auto" data-options="label:'是否可读:', editable:false, required:true" />
                    <#comboProvider _id="_readable" _provider='ynProvider' _queryParams="{required:true}" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_value" id="_value" style="width:100%" data-options="label:'值或默认值:', validType:'length[0,40]'" />
                </td>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" name="_orderNumber" id="_orderNumber" style="width:100%" data-options="label:'排序号:', validType:'length[0,8]'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;" colspan="2">
                    <input class="easyui-textbox" name="_style" id="_style" style="width:100%" data-options="label:'行内样式:', validType:'length[0,80]'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;" colspan="2">
                    <input class="easyui-textbox" name="_meta" id="_meta" style="width:100%" data-options="label:'元数据:', validType:'length[0,200]'" />
                </td>
            </tr>
        </table>
    </form>

    </div>
    <!-- ====================================================================================================================== -->
    <!-- style & script 分隔线 -->
    <!-- ====================================================================================================================== -->
    <script type="text/javascript">
        //打开新增窗口
        function openInsert(){
            $('#dlg').dialog('open');
            $('#dlg').dialog('center');
            $('#_form').form('clear');
            formFocus("_form", "_formKey");
            $('#_required').combobox('select',"true");
            $('#_writable').combobox('select',"true");
            $('#_readable').combobox('select',"true");
        }

        //打开修改窗口
        function openUpdate(){
            var selected = $("#grid").datagrid("getSelected");
            if (null == selected) {
                swal('警告','请选中一条数据', 'warning');
                return;
            }
            $('#dlg').dialog('open');
            $('#dlg').dialog('center');
            formFocus("_form", "_controlId");
            var formData = $.extend({},selected);
            formData = addKeyStartWith(getOriginalData(formData),"_");
            $('#_form').form('clear');
            $('#_form').form('load', formData);
            $("#_required").combobox("setValue", formData["_required"]+"");
            $("#_writable").combobox("setValue", formData["_writable"]+"");
            $("#_readable").combobox("setValue", formData["_readable"]+"");
        }

        function saveOrUpdate(){
            if(!$('#_form').form("validate")){
                return;
            }
            var _formData = removeKeyStartWith($("#_form").serializeObject(true),"_");
            var _url = null;
            //没有id就新增
            if(_formData.id == null || _formData.id==""){
                _url = "${contextPath}/actControl/insert.action";
            }else{//有id就修改
                _url = "${contextPath}/actControl/update.action";
            }
            $.ajax({
                type: "POST",
                url: _url,
                data: _formData,
                processData:true,
                dataType: "json",
                async : true,
                success: function (data) {
                    if(data.code=="200"){
                        $("#grid").datagrid("reload");
                        $('#dlg').dialog('close');
                    }else{
                        swal('错误',data.result, 'error');
                    }
                },
                error: function(){
                    swal('错误', '远程访问失败', 'error');
                }
            });
        }

        //根据主键删除
        function del() {
            var selected = $("#grid").datagrid("getSelected");
            if (null == selected) {
                swal('警告','请选中一条数据', 'warning');
                return;
            }
            <#swalConfirm swalTitle="您确认想要删除记录吗？">
                    $.ajax({
                        type: "POST",
                        url: "${contextPath}/actControl/delete.action",
                        data: {id:selected.id},
                        processData:true,
                        dataType: "json",
                        async : true,
                        success: function (data) {
                            if(data.code=="200"){
                                $("#grid").datagrid("reload");
                                $('#dlg').dialog('close');
                            }else{
                                swal('错误',data.result, 'error');
                            }
                        },
                        error: function(){
                            swal('错误', '远程访问失败', 'error');
                        }
                    });
            </#swalConfirm>

        }
        //表格查询
        function queryGrid() {
            var opts = $("#grid").datagrid("options");
            if (null == opts.url || "" == opts.url) {
                opts.url = "${contextPath}/actControl/listPage.action";
            }
            if(!$('#form').form("validate")){
                return;
            }
            $("#grid").datagrid("load", bindGridMeta2Form("grid", "form"));
        }


        //清空表单
        function clearForm() {
            $('#form').form('clear');
        }

        /**
         * 绑定页面回车事件，以及初始化页面时的光标定位
         * @formId
         *          表单ID
         * @elementName
         *          光标定位在指点表单元素的name属性的值
         * @submitFun
         *          表单提交需执行的任务
         */
        $(function () {
            bindFormEvent("form", "controlId", queryGrid);

            var pager = $("#grid").datagrid('getPager');
            pager.pagination({
                    <#controls_paginationOpts/>,
                    buttons:[
                    {
                        iconCls:'icon-add',
                        text:'新增',
                        handler:openInsert
                    },
                    {
                        iconCls:'icon-edit',
                        text:'修改',
                        handler:openUpdate
                    },
                    {
                        iconCls:'icon-remove',
                        text:'删除',
                        handler:del
                    },{
                        iconCls:'icon-remove',
                        text:'查看表单',
                        handler:function(){
                            var selected = $("#grid").datagrid("getSelected");
                            if (null == selected) {
                                $.messager.alert('警告','请选中一条数据');
                                return;
                            }
                            window.open("${contextPath}/actControl/dynamicForm.html?formKey="+selected.formKey);
                        }
                    },
                    {
                        iconCls:'icon-export',
                        text:'导出',
                        handler:function(){
                            doExport('grid');
                        }
                    }
                ]
            });
            $('#grid').datagrid('getPanel').removeClass('lines-both lines-no lines-right lines-bottom').addClass("lines-bottom");
            queryGrid();
        })
    </script>
</#body>